body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100vw;
    min-height: 100vh;
    background-color: #ccc;
    position: absolute;
}

.square {
    width: 15px;
    position: relative;
}
  
.square::before {
    display: block;
    content: '';
    padding-bottom: 100%;
    background-color: #fff;
    border: 1px solid red;
}